<html>
<head>

  <script src="http://connect.facebook.net/en_US/all.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
  <title>My music DNA</title>

</head>
<body>

  <div id="fb-root"></div>
  <script>
    
    $(document).ready(function(){
      FB.init({
        appId      : '150298645114656', // App ID
        channelUrl : '//localhost:8083/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });

      FB.getLoginStatus(function(r){
        if(r.status=='connected'){
          // Al ingelogd
          get_liked_artists(r);
        }else{
          FB.Event.subscribe('auth.login', function(r){
            
            // Hier starten we met zoeken
            get_liked_artists(r);

          });
        }
      });

      function get_liked_artists(data){
        window.user_id = data.authResponse['userID'];
        window.access_token = data.authResponse['accessToken'];

        request_url = 'https://graph.facebook.com/'+user_id+"/likes?access_token="+access_token;

        $.getJSON(request_url, function(data, status){
          if(status=="success"){
            process_artists(data)
          }else{
            console.log("The request for user's likes went bad: "+status)
          }
        });

      }

      function process_artists(data){
        
        // krijg de lijst van namen
        artists = $.map(data['data'], function(v,k){
          if(v.category=='Musician/band'){
            return v.name
          }
        });
        
        // stuur ze naar de appengine
        $.post('/store_artists_for_user', {user_id: window.user_id, artists: JSON.stringify(artists)});
        
        window.user_id = undefined;
        window.access_token = undefined;
        FB.logout() // Laat gebruiker zien dat het is uitgelogd

      }

    });

  </script>

  <div class="fb-login-button" data-show-faces="false" data-width="200" data-max-rows="1" data-scope="user_events"></div>

</body>
</html>